.ant-table-thead {
  .ant-table-cell {
    text-align: center;
    background-color: rgb(249 115 22) !important; /* Màu nền của tiêu đề cột */
    color: white !important; /* Màu chữ của tiêu đề cột */
    font-weight: bold;
    text-align: center;
    max-width: 120px;
  }
}
.ant-table-tbody {
  .ant-table-cell {
    background-color: rgba(253, 187, 116, 0.542);
    max-width: 120px;
  }
  .ant-table-cell-row-hover {
    background-color: rgb(253 186 116) !important;
    color: white;
  }
}
