.ant-picker-outlined {
  padding: 0 !important;
  border-color: rgb(209 213 219) !important;
  &:focus-within {
    box-shadow: 0 0 0 0 !important;
    // outline-color: rgb(134 239 172) !important;
    border-color: rgb(34 197 94) !important;
  }

  .ant-picker-input {
    padding: 10px !important;
    outline-color: rgb(134 239 172) !important;
    background-color: rgb(249 250 251);
    border-radius: 5px;
  }
}
